html {
    height: 100%;
}

body{
    background-color: #1B1C1D;
    position: relative;
    overflow: initial !important;
}

.sel::selection{
    color: rgba(75,165,205,1);
    background: rgba(0,0,0,0);
}

#dev-column{
    transition-timing-function: ease-in;
    /* Quick on the way out */
    transition: 0.15s;
}
#des-column{
    transition-timing-function: ease-in;
    /* Quick on the way out */
    transition: 0.15s;
}

.project-modal{
    margin: 30vw 20vw 30vw 20vw;
}
@media (max-width: 349px) {
    .project-modal{
        margin: 30vw 10vw 30vw 10vw;
    }
}
.modal{
    z-index: 70 !important;
}

.modal-open{
    cursor: pointer;
}

/* ANIM STUFF */

#canvas {
    display: block;
    width: 100vw;
    height: 100vh;
    z-index: -5;
    position: absolute;
    top: 0px;
    bottom: 0px;
    height: 120vh;
}

#pop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
}

.anim {
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.sphere-animation{
    transform-origin: 0% 0%;
    transform: scale(4.1)!important
}

.sphere path {
    fill: url(#sphereGradient);
    stroke-width: .7px;
    stroke: rgba(80,80,80,.35);
    backface-visibility: hidden;
}

@media (min-width: 500px) {
    .sphere path {
        stroke-width: .4px;
    }
}
/* END ANIM STUFF */

/* NAVBAR STUFF */
#name{
    cursor: default;
}

.ui.navbar {
    margin-top: 0px !important;
    width: 100%;
}

.padding-reset{
	padding: 0px !important;
}

.ui.message{
	padding: 41px !important;
}

#logo-satchmo{
    margin-top: 13px;
    margin-bottom: 10px;
    height: 30px;
    width: auto;
    transition-timing-function: ease-in;
    /* Quick on the way out */
    transition: 0.2s;
}

@media (max-width: 767px) {
  	#mini-nav{
          border-radius: 0%;
          margin-bottom: 0%;
          height: 60px;
	}
}

@media (max-width: 360px) {
    #logo-satchmo{
        height: 25px;
        width: auto;
    }
    #nav-collapsed{
        max-width: 47%;
    }
}

.ui.vertical.menu{
    margin-top: -15px !important;
    width: 100%;
    position: absolute;
    display: none;
    z-index: 15;
    top: 89px;
    right: 0px;
} 

/* END NAVBAR STUFF */

/* MAIN CONTENT */
.pixla-text-actual{
    -webkit-filter: drop-shadow(.25em .25em 0px #333333); /* Chrome, Safari, Opera */
    filter: drop-shadow(.25em .25em 0px #333333);
    transition-timing-function: ease-in-out;
    /* Very fast on the way in & out */
    transition: 0.1s;
}

.wordcloud-img-actual{
    -webkit-filter: drop-shadow(.35em .35em 0px rgb(1, 88, 88)); /* Chrome, Safari, Opera */
    filter: drop-shadow(.35em .35em 0px rgb(1, 88, 88));
    transition-timing-function: ease-in-out;
    /* Very fast on the way in & out */
    transition: 0.1s;
}

.booktionary-text-actual{
    -webkit-filter: drop-shadow(.25em .25em 0px #333333); /* Chrome, Safari, Opera */
    filter: drop-shadow(.25em .25em 0px r#333333);
    transition-timing-function: ease-in-out;
    /* Very fast on the way in & out */
    transition: 0.1s;
}
.pixla-img-actual{
    transition-timing-function: ease-in-out;
    /* Very fast on the way in & out */
    transition: 0.1s;
}
.booktionary-img-actual{
    transition-timing-function: ease-in-out;
    /* Very fast on the way in & out */
    transition: 0.1s;
}
@media only screen and (max-width: 769px){
    .booktionary-text-actual{
        padding-left: .5% !important;
        padding-bottom: 2em !important;
    }
    .pixla-img-actual{
        padding-bottom: .25em !important;
        padding-right: .25em !important;
    }
    .pixla-text-actual{
        padding-top: 0px !important;
        padding-bottom: 1.25em !important;
        padding-left: .5em !important;
    }
}
@media only screen and (max-width: 769px){
    .project-button{
        margin-top: 7px;
    }
}

.container{
    transition-timing-function: ease-in;
    /* Quick on the way out */
    transition: 0.5s;
}

.card-content{
    overflow: hidden;
}
/* END MAIN CONTENT */

/* LINKS */
.link-buttons-inner{
    position: absolute;
}
.linksvg {
    top: 125px;
    position: relative;
    width: 320px;
}
.link-buttons-form{
    position: relative;
    top: 125px;
}
.linkpath {
    fill: none;
    stroke: url(#linearGradient);;
    stroke-width: 4;
    stroke-dasharray: 240 1386;
}
.form {
    margin: 40px;
    position: absolute;
}
.github{
    position: relative;
    top: 22px;
    left: 15px;
    left: 59px;
}
.artstation{
    position: relative;
    top: 52px;
    left: 42px;
}
/* END LINKS */

/* GRID GALLERY */
.illus-column{
    position: relative;
    top: 505px;
}

#illus{
    color: #fff;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab );
	background-size: 400% 400%;
	-webkit-animation: gradientBG 10s ease infinite;
	        animation: gradientBG 10s ease infinite;
    font-size: 20px;
}
	
@-webkit-keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.gg-box{
    position: relative;
    top: 555px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    grid-auto-rows: 200px;
    grid-gap: 8px;
}
.gg-element img{
    object-fit: cover;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.02);
    border-radius: 10px;
    transition-timing-function: ease-in-out;
    transition: 0.25s;
}
.gg-element img:hover{
    transform: scale(1.5);
}
#gg-screen{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    top:0;
    left: 0;
    display: none;
    background: rgba(255,255,255,0.85);
    z-index: 9999;
    text-align: center;
}
#gg-screen .gg-image{
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
#gg-screen .gg-image img{
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}
.gg-bt{
    width: 38px;
    height: 38px;
    background: rgba(255,255,255,0.6);
    color: #222;
    border-radius: 50%;
    text-align: center;
    line-height: 32px;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    font-size: 25px;
    border: 1px solid rgba(0,0,0,0.05);
    box-sizing: border-box;
    padding-left: 2px;
}
.gg-bt:hover{
    background: rgba(255,255,255,0.8);
    border: 1px solid rgba(0,0,0,0.5);
}
.gg-close{
    position: fixed;
    top:0.5em;
}
.gg-close,.gg-nxt{
    right: 0.5em;
}
.gg-prev{
    left: 0.5em;
}
.gg-prev,.gg-nxt{
    position: fixed;
    bottom: 50%;
}
@media (min-width:478px){
    .gg-element:nth-child(3n+0){
        grid-row-end: span 2;
    }
}
@media(max-width:768px){
    .gg-box{
        grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
        grid-auto-rows: 150px;
        grid-gap: 6px;
    }
}
@media(max-width: 450px){
    .gg-box{
        grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
        grid-auto-rows: 100px;
        grid-gap: 4px;
    }
}
/* END GRID GALLERY */

/* FOOTER */
.footer{
    position: fixed;
    width: 100%;
    z-index: 55;
    bottom: 0;
    height: 50px;
    padding: 0%;
}

#foot{
    padding: 0%;
    background-color: #1b1c1d;
}

.footlink{
    color: white;
}
.footlink:hover{
    color: rgba(75,165,205,1);
}
/* END FOOTER */

/* PAGE LOADER */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url("../images/loader/loading2.gif") center no-repeat #262626;
}