html {
    height: 100%;
}

body{
    background-color: #1B1C1D;
    position: relative;
}

/* ANIM STUFF */

#canvas {
    display: block;
    width: 100vw;
    height: 100vh;
    z-index: -5;
    position: absolute;
    top: 0px;
    bottom: 0px;
    height: 120vh;
}

#pop {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    top: 0px;
}

.anim {
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.sphere-animation{
    transform-origin: 0% 0%;
    transform: scale(4.1)!important
}

.sphere path {
    fill: url(#sphereGradient);
    stroke-width: .7px;
    stroke: rgba(80,80,80,.35);
    backface-visibility: hidden;
}

@media (min-width: 500px) {
    .sphere path {
        stroke-width: .4px;
    }
}
/* END ANIM STUFF */

/* NAVBAR STUFF */
.ui.navbar {
    margin-top: 0px !important;
    width: 100%;
}

.padding-reset{
	padding: 0px !important;
}

.ui.message{
	padding: 41px !important;
}

#logo-satchmo{
    margin-top: 13px;
    margin-bottom: 10px;
    height: 30px;
    width: auto;
    transition-timing-function: ease-in;
    /* Quick on the way out */
    transition: 0.2s;
}

@media (max-width: 767px) {
  	#mini-nav{
          border-radius: 0%;
          margin-bottom: 0%;
          height: 60px;
	}
}

@media (max-width: 360px) {
    #logo-satchmo{
        height: 25px;
        width: auto;
    }
    #nav-collapsed{
        max-width: 47%;
    }

}

.ui.vertical.menu{
    margin-top: -15px !important;
    width: 100%;
    position: absolute;
    display: none;
    z-index: 15;
    top: 89px;
    right: 0px;
} 

/* END NAVBAR STUFF */

/* MAIN CONTENT */
.pixla-text-actual{
    -webkit-filter: drop-shadow(.25em .25em 0px #333333); /* Chrome, Safari, Opera */
    filter: drop-shadow(.25em .25em 0px #333333);
}

.wordcloud-img-actual{
    -webkit-filter: drop-shadow(.35em .35em 0px rgb(1, 88, 88)); /* Chrome, Safari, Opera */
    filter: drop-shadow(.35em .35em 0px rgb(1, 88, 88));
}

.booktionary-text-actual{
    -webkit-filter: drop-shadow(.25em .25em 0px #333333); /* Chrome, Safari, Opera */
    filter: drop-shadow(.25em .25em 0px r#333333);
}

.container{
    transition-timing-function: ease-in;
    /* Quick on the way out */
    transition: 0.5s;
}
/* END MAIN CONTENT */

/* LINKS */
.link-buttons-inner{
    position: absolute;
}
.linksvg {
    top: 105px;
    position: relative;
    width: 320px;
}
.link-buttons-form{
    position: relative;
    top: 105px;
}
.linkpath {
    fill: none;
    stroke: url(#linearGradient);;
    stroke-width: 4;
    stroke-dasharray: 240 1386;
}
.form {
    margin: 40px;
    position: absolute;
}
.github{
    position: relative;
    top: 22px;
    left: 15px;
    left: 59px;
}
.artstation{
    position: relative;
    top: 52px;
    left: 42px;
}
/* END LINKS */

/* FOOTER */
.footer{
    position: fixed;
    width: 100%;
    z-index: 55;
    bottom: 0;
    height: 50px;
    padding: 0%;
}

#foot{
    padding: 0%;
}